recursive-include collective *.css
recursive-include collective *.kss
recursive-include collective *.po
recursive-include collective *.pot
recursive-include collective *.pt
recursive-include collective *.txt
recursive-include collective *.xml
recursive-include collective *.zcml
recursive-include docs *.GPL
recursive-include docs *.txt
